<h2>Calculate Simple Interest</h2>
<fieldset>
    <legend>Calculate Simple Interest</legend>
    @using (Ajax.BeginForm("UserDetails", "Home",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
    {
        <div id="divInterestDeatils"></div>
        <ol>
            <li>
                @Html.Label("FirstName")
                @Html.TextBox("firstName")
            </li>
            <li>
                @Html.Label("Surname")
                @Html.TextBox("lastname")
            </li>
            <li>
                @Html.Label("Age")
                @Html.TextBox("age")
            </li>
        </ol>
        <button>Calculate</button>
    }
</fieldset>  